/**************** BASICS *******************/
/**************** BASICS *******************/
/**************** BASICS *******************/

:root {
    --bg-color: #fbf7f5;
    --accent-lite: #c8c5c4;
    --accent-color: #646262;
    --body-text: #191818;
}

a,
a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--body-text);
}

body {
    font-size: 1em;
    font-family: "Mukta Malar", sans-serif;
    background-color: var(--bg-color);
    color: var(--body-text);
}

h1,
h2,
h3 {
    color: var(--accent-color);
}

img {
    width: 25%;
}

table {
    border-radius: 10%;

}

/**************** LAYOUT *******************/
/**************** LAYOUT *******************/
/**************** LAYOUT *******************/

#container {
    margin: 0;
    padding: 15%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#profile {
    width: 48%;
    border-radius: 50%;
}

.container-item {
    padding: 0.5em;
    width: 50%;
}

/***************** ETC *********************/
/***************** ETC *********************/
/***************** ETC *********************/
